=form_for [ @user, @license ], html: { class: 'well form-horizontal' } do |f|
  %fieldset
    %legend #{controller.action_name.capitalize} License
    =render 'shared/error_messages', object: @license
    .control-group
      =f.label :name, class: 'control-label'
      .controls
        =f.text_field :name, placeholder: 'User-friendly name'
        .help-block You might choose any name for this license.

    .control-group
      =f.label :software_tag_tokens, 'Software Tags', class: 'control-label'
      .controls
        =f.text_field :software_tag_tokens,
          "data-url"    => software_tags_path(format: :json),
          "data-pre"    => @license.software_tags.to_json
        .help-block Once you have assigned a software tag to this license, you won't be able to remove it. Please make sure the software tags you're adding are the ones you're going to use!

    .control-group
      =f.label :hardware_tag_tokens, 'Hardware Tags', class: 'control-label'
      .controls
        =f.text_field :hardware_tag_tokens,
          "data-url"    => user_hardware_tags_path(@license.user, format: :json),
          "data-pre"    => @license.hardware_tags.to_json
        .help-block Hardware tags once assigned to a license cannot be deleted. Please make sure the hardware tags you're adding here are the ones you're going to use!

    .control-group
      =f.label :expires_after, 'Expires After', class: 'control-label'
      .controls
        =f.select :expires_after, ([ @license.expires_after, Time.now.year ].min)..(Time.now.year+3)
        .help-block Pick the year after which you would like this license to expire.

    .form-actions=f.submit button_text_for(controller), class: 'btn btn-primary'
