= content_tag_for :li, license do
  %span.btn-toolbar.pull-right
    %span.btn-group
      = link_to 'Delete', user_license_path(user, license), method: :delete, remote: true, class: 'btn btn-mini btn-danger', data: { confirm: 'Do you really want to delete this License?' } if admin_signed_in?
    %span.btn-group
      = link_to 'Edit', edit_user_license_path(user, license), class: 'btn btn-mini'
      = link_to 'Get',
        user_license_path(user, license, format: :lic),
        data: { confirm: "Once a license has been downloaded, it is impossible to change it later. Are you sure you want to download #{license.name} right now?" },
        class: 'btn btn-mini'
  %span.content
    = "#{license.fancy_id}: #{license.name}"
  %span.secondary
    Applying on #{ pluralize(license.software_tags.size, 'Software Tags') } and #{ pluralize(license.hardware_tags.size, 'Hardware Tags') }.
