.center.hero-unit
  %h1 Welcome
  %h2
    This is the main page for the
    = link_to 'PQRRS Licensing Server', root_path
    online application.
  .btn-toolbar.center
    - if signed_in?
      = link_to 'Dashboard', @signed_in_user, class: 'btn btn-large'
    - else
      = link_to 'Sign up!', signup_path, class: 'btn btn-large btn-primary'
      = link_to 'Sign in', signin_path, class: 'btn btn-large'
