= form_for :session, url: sessions_path, html: { class: 'well form-horizontal' } do |f|
  %fieldset
    %legend= 'Sign in'

    .control-group
      = f.label :email, class: 'control-label'
      .controls
        = f.text_field :email, placeholder: 'me@example.com'

    .control-group
      = f.label :password, class: 'control-label'
      .controls
        = f.password_field :password

    .control-group
      = f.label :remember_me, class: 'control-label'
      .controls
        = check_box_tag :remember_me, 1, params[:remember_me]

    .form-actions
      = f.submit button_text_for(controller), class: 'btn btn-primary'
      = link_to 'Reset Password', new_password_reset_path, class: 'btn'
