- provide(:title, 'Password Reset')
.row-fluid
  .span10.offset1
    = form_for @user, url: password_reset_path(params[:id]), html: { class: 'well form-horizontal' } do |f|
      %fieldset
        %legend Password Reset
        = render 'shared/error_messages', object: @user
        .control-group
          = f.label :password, class: 'control-label'
          .controls
            = f.password_field :password, placeholder: 'Make something up...'
        .control-group
          = f.label :password_confirmation, class: 'control-label'
          .controls
            = f.password_field :password_confirmation, placeholder: 'But be creative!'
        .form-actions
          = f.submit button_text_for(controller), class: 'btn btn-primary'
