- provide(:title, 'Password Reset')
.row-fluid
  .span10.offset1
    = form_tag password_resets_path, method: :post, class: 'well form-horizontal' do
      %fieldset
        %legend Password Reset
        .control-group
          = label_tag :email, nil, class: 'control-label'
          .controls
            = text_field_tag :email, nil, placeholder: 'me@example.com'
            .help-block Enter the email address you've used while signing up.
        .form-actions= submit_tag 'Reset Password', class: 'btn btn-primary'
