=form_for @user, remote: true, html: { class: 'well form-horizontal' } do |f|
  %fieldset
    %legend #{controller.action_name.capitalize}
    = render 'shared/error_messages', object: @user

    - if admin_signed_in?
      .control-group
        = f.label :email, class: 'control-label'
        .controls
          = f.text_field :email, placeholder: 'me@example.com'
      .control-group
        = f.label :company_name, class: 'control-label'
        .controls
          = f.text_field :company_name, placeholder: 'My Company'

    - elsif @user.new_record?
      .control-group
        = f.label :humanizer_answer, 'Are you human?', class: 'control-label'
        .controls
          = f.text_field :humanizer_answer, placeholder: 'Answer the question below!'
          = f.hidden_field :humanizer_question_id
          .help-block= @user.humanizer_question

    .control-group
      = f.label :password, class: 'control-label'
      .controls
        = f.password_field :password, placeholder: 'Make something up...'
    .control-group
      = f.label :password_confirmation, class: 'control-label'
      .controls
        = f.password_field :password_confirmation, placeholder: 'But be creative!'

    .form-actions
      = f.submit button_text_for(controller), class: 'btn btn-primary'
