=content_tag_for :li, user do
  %span.btn-toolbar.pull-right
    %span.btn-group
      - if !signed_in_user?(user)
        = link_to 'Delete', user, method: :delete, remote: true, class: 'btn btn-danger btn-mini', data: { confirm: 'Are you sure?' }
    %span.btn-group
      = link_to 'Edit', edit_user_path(user), remote: true, class: 'btn btn-mini' if signed_in?
    %span.btn-group
      = link_to 'Dashboard', user_path(user), class: 'btn btn-primary btn-mini'
  %span.content
    = formated_email_link_for(user).html_safe
  %span.secondary
    = "#{pluralize(user.licenses_count, 'License')}, #{pluralize(user.hardware_tags_count, 'Hardware Tag')}"
    = 'UNCONFIRMED' unless user.is_confirmed?
