- provide(:title, "Profile for #{@user.email}")
.row-fluid
  .column.span5
    %section.row-fluid
      %h3.span9= formated_email_link_for(@user).html_safe
      .span3= link_to 'Edit', edit_user_path(@user), remote: true, class: 'btn btn-mini pull-right'
  .column.span7
    = render 'licenses/licenses_section', user: @user
    = render 'hardware_tags/hardware_tags_section', user: @user
