= form_for [ @user, @hardware_tag ], remote: true, html: { class: 'well form-horizontal' } do |f|
  %fieldset
    %legend= "#{controller.action_name.capitalize} Hardware Tag"
    = render 'shared/error_messages', object: @hardware_tag

    .control-group
      = f.label :name, class: 'control-label'
      .controls= f.text_field :name

    .control-group
      = f.label :serial, class: 'control-label'
      .controls= f.text_field :serial

    .form-actions= f.submit button_text_for(controller), class: 'btn btn-primary'
