%section.row-fluid
  %h3.span9 Hardware Tags
  .span3= link_to 'New', new_user_hardware_tag_path(user), remote: true, class: 'btn btn-mini pull-right'
%ul#hardware_tags.listing= render user.hardware_tags, user: user
