= content_tag_for :li, hardware_tag do
  %span.btn-toolbar.pull-right
    %span.btn-group
      = link_to 'Delete',
        user_hardware_tag_path(user, hardware_tag),
        remote: true,
        method: :delete,
        class:  'btn btn-mini btn-danger',
        data:   { confirm: 'Do you really want to delete this Hardware Tag?' } if admin_signed_in?
    %span.btn-group= link_to 'Edit', edit_user_hardware_tag_path(user, hardware_tag), remote: true, class: 'btn btn-mini'
  %span.content
    = "#{ "%05d" % hardware_tag.id }: #{hardware_tag.name}"
  %span.secondary= hardware_tag.serial
