=form_for @software_tag, remote: true, html: { class: 'well form-horizontal' } do |f|
  %fieldset
    %legend="#{controller.action_name.capitalize} Software Tag"
    =render 'shared/error_messages', object: @software_tag

    .control-group
      =f.label :name, class: 'control-label'
      .controls=f.text_field :name

    .control-group
      =f.label :identifier, class: 'control-label'
      .controls=f.text_field :identifier

    .control-group
      =f.label :is_public, class: 'control-label'
      .controls=f.check_box :is_public

    .control-group
      =f.label :description, class: 'control-label'
      .controls=f.text_area :description, class: 'input-xlarge'

    .form-actions=f.submit button_text_for(controller), class: 'btn btn-primary'
