%section.row-fluid
  %h3.span9 Software Tags
  .span3= link_to 'New', new_software_tag_path, remote: true, class: 'btn btn-mini pull-right' if admin_signed_in?
%ul#software_tags.listing= render software_tags
