= content_tag_for :li, software_tag do
  %span.btn-toolbar.pull-right
    %span.btn-group
      = link_to 'Delete', software_tag_path(software_tag), remote: true, method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: 'Do you really want to delete this Software Tag?' } if admin_signed_in?
    %span.btn-group
      = link_to 'Edit', edit_software_tag_path(software_tag), remote: true, data: { type: :script }, class: 'btn btn-mini' if admin_signed_in?
      = link_to 'Details', software_tag, class: 'btn btn-mini'
  %span.content= link_to software_tag.name, software_tag
  %span.secondary= software_tag.identifier
