- provide :title, @software_tag.name
.row-fluid
  .column.span3.well
    %legend Statistics
    %p So far, this software package is being used...
    %ul
      %li in #{pluralize(@software_tag.licenses.size, 'license')},
      %li along with #{pluralize(@software_tag.hardware_tags.size, 'piece')} of hardware,
      %li by #{pluralize(@software_tag.users.size, 'company')}.
  .column.span9.well
    %legend Description
    = markdown(@software_tag.description).html_safe
