@import 'bootstrap';

/* Universal */
html {
	overflow-y:				scroll;
}
body {
	padding-top:			50px;
}

/* Typography */
.hero-unit {
	text-align:					center;
	text-shadow:				white 1px 1px 1px;
	h1 {
		font-size:				4em;
		margin-bottom:			20px;
	}
	h2 {
		font-size:				1.7em;
		margin-bottom:			20px;
		text-align:				center;
		font-weight:			normal;
		color:					$grayLight;
	}
}

/* Footer */
footer {
	margin-top:				20px;
	padding-top:			5px;
	border-top:				1px solid $grayLighter;
	color:					$grayLight;
	a {
		color:				#555;
		&:hover {
			color:			#222;
		}
	}
	small {
		float:				left;
	}
	ul {
		float:				right;
		list-style:			none;
		li {
			float:			left;
			margin-left:	10px;
		}
	}
}


/* Forms */
#error_explanation {
  @extend .alert;
  @extend .alert-error;
  @extend .alert-block;
}
.field_with_errors {
  @extend .control-group.error
}
.token-input-list {
	@extend input;
}


/* Columns and Sections */
.column {
	section {
		padding-top:		35px;
		&:first-child {
			border:			0;
			padding-top:	0;
		}
		span {
			display:		block;
			margin-bottom:	3px;
			line-height:	1;
		}
		h1, h2, h3, h4, h5 {
			color:			$gray;
		}
		h1 {
			font-size:		1.6em;
			text-align:		left;
		}
	}
}

/* Users Listing */
.listing {
  @extend         .row-fluid;
	list-style:			none;
	margin:					10px 0 0 0;
	li {
		border-top:			1px solid $white;
		padding:			5px;
		background-color:	#f5f5f5;
		.content {
			display:		block;
		}
		.secondary {
			display:		block;
			color:			$grayLight;
		}
	}
}

/* Misc. */
.debug_dump {
	clear:					both;
	float:					left;
	width:					100%;
	margin-top:				45px;
}
