.navbar.navbar-fixed-top
  .navbar-inner
    .container-fluid
      = link_to 'PQRRS Licensing Server', root_path, class: 'brand'
      %nav
        %ul.nav
          = nav_link 'Home', home_path
          = nav_link 'Software', software_tags_path
          = nav_link 'How it Works', how_it_works_path
        %ul.nav.pull-right
          = nav_link 'Sign in', signin_path unless signed_in?
          = render 'layouts/user_menu' if signed_in?
