%li.dropdown
  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
    = signed_in_user.company_name
    %b.caret
  %ul.dropdown-menu
    %li= link_to 'Dashboard', signed_in_user
    - if admin_signed_in?
      %li.divider/
      %li= link_to 'Users', users_path
      %li= link_to 'Software', software_tags_path
    %li.divider/
    %li= link_to 'Sign out', signout_path, method: 'delete'
