<!DOCTYPE html>
<html>
<head>
  <title><%= full_title yield(:title) %></title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <%= csrf_meta_tags %>
  </head>
<body>
  <%= render 'layouts/header' %>

  <div class="container">

    <%- flash.each do |key, msg| -%>
      <div id="msg-<%= key %>" class="alert alert-<%= key %>">
        <a class="close" data-dismiss="alert" href="#">&times;</a>
        <p>
          <%= msg %><br>
        </p>
      </div>
      <script type="text/javascript">
        if('<%= key %>' != 'error') {
          $('#msg-<%= key %>').delay(1500).fadeOut(1000);
        }
      </script>
    <%- end -%>

    <div id="modal-editor" class="modal hide fade">
        <div class="modal-header">
          <a href="#" data-dismiss="modal" class="close">&times;</a>
          <h3>Form</h3>
        </div>
        <div id="modal-editor-body" class="modal-body"></div>
    </div>

    <div id="body-content">
      <%= yield %>
    </div>

    <%= render 'layouts/footer' %>

    <%= debug params if Rails.env.development? %>
  </div>
</body>
</html>
